* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-family: 'Crimson Text', serif;
}
body {
    background-image: url('https://media.giphy.com/media/t98sVFES6fjE8OUDzO/giphy.gif');
    background-size: cover;
    background-color: black;
    max-width: 100%;
    width: auto;
    height: auto;
}
.beginning-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
.question-score-container {
    display: flex;
    justify-content: space-evenly;
    float: right;
    color: black;
    list-style: none;
    padding: 25px;
    width: 100%;    
}
#mainContainer {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#js-start-button {
    width: 250px;
    height: 50px;
    border-radius: 15px;
    font-size: 25px;
}
#js-start-button:hover {
    color: green;
    background-color: yellowgreen;
}
.quizLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width: auto;
}
.beginning-message {
    color: black;
    text-align: center;
}
.questionAnswer {
    max-width: 100%;
    height: auto;
    width: auto;
    color: black;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    width: auto;
    height: auto;
}
.answer-choices {
    max-width: 100%;
    width: auto;
    font-size: 20px;
}

.submitButton {
    width: 250px;
    height: 50px;
    border-radius: 15px;
    margin: 30px 0 0;
    align-self: center;
    font-size: 25px;
}
.submitButton:hover {
    color: green;
    background-color: yellowgreen;
}
.correctFeedback {
    color: black;
    font-size: 25px;
    justify-content: center;
}
.nextButton {
    width: 250px;
    height: 50px;
    border-radius: 15px;
    margin: 30px 0 0;
    font-size: 25px;
}
.nextButton:hover {
    color: green;
    background-color: yellowgreen;
}
.restartButton {
    width: 250px;
    height: 50px;
    border-radius: 15px;
    margin: 30px 0 0;
    align-self: center;
    font-size: 25px;
}
.restartButton:hover {
    color: green;
    background-color: yellowgreen;
}
.feedbackImg {
    max-width: 300px;
    width: auto;
    height: auto;
}

.hide {
    display: none;
}

@media screen and (max-width: 900px) {
    header ul {
        margin: 12px;
        text-align: center;
    }
    .beginning-message {
        text-align: center;
    }
    .beginning-container {
        width: 100%;
        justify-content: center;
        display: inline-block;
    }
    .question-score-container {
        text-align: center;
        margin-top: 20px;
        font-size: 5vw;
        width: 100%;
    }
    #mainContainer {
        margin-top: 10px;
    }
    .question {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 3vw;
        flex-shrink: 1.5;
    }
    .correctFeedback {
        font-size: 5vw;
    }
    .answer-choices {
        font-size: 3.5vw;
    }

}